{% extends 'base.html.twig' %}

{% block title %}Gérer les catégories{% endblock %}

{% block body %}
	<h1>Liste Equipe</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Nom Equipe</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
        {% for equipe in equipe %}            
			<tr>
				<td>{{equipe.nom}}</td>
				<td class="text-center">
                    <a  class="btn blue">Modifier</a>
                    <a  class="btn red">Supprimer</a>
                </td>
			</tr>
        {% endfor %}
		</tbody>
	</table>
    <h1>Liste flags</h1>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Titre</th>
                <th>Question</th>
                <th>Réponse</th>
                <th>Points</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
        {% for flag in flag %}            
			<tr>
				<td>{{flag.nID}}</td>
				<td>{{flag.titreQuestion}}</td>
                <td>{{flag.textQuote}}</td>
                <td>{{flag.textReponse}}</td>
				<td>{{flag.points}}</td>
				<td class="text-center">
                    <a  class="btn blue">Modifier</a>
                    <a  class="btn red">Supprimer</a>
                </td>
			</tr>
        {% endfor %}
		</tbody>
	</table>
	<a  class="btn blue">Ajouter un flag</a>
{% endblock %}

